{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="wrapper">
        <section class="character-page">
        <div class="col-8">
            <h2>{{personage.firstname}} {{personage.lastname}}</h2>
            <div class="bio">
                <h3>Biographie</h3>
                <p>{{personage.biography}}</p>
            </div>
        </div>
        <div class="col-4">
            <div class="avatar" style="background: #e3e3e3;">
                <img src="{{ asset('images/'~ personage.image)}}" alt="{{personage.firstname}}">
            </div>
            <div class="infos">
                <h3>Maisons</h3>
                <div class="houses">
                    <ul>
                    {% for house in personage.house %}
                        <li class="house-logo" style="background: #{{house.colour}};">
                            <a href="{{ path('app_house_read', {'id': house.id}) }}">
                                <img src="{{ asset('images/houses/'~ house.image)}}" alt="{{house.name}}">
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <ul class="meta">
                    <li><span>Rang :</span> {{personage.title.name}}</li>
                    <li><span>Mère :</span> 
                        {% if personage.mother is not null %}
                            {{personage.mother.firstname}} {{personage.mother.lastname}}
                        {% else %}  
                            Non renseigné
                        {% endif %}
                    </li>
                    <li><span>Père :</span> 
                        {% if personage.father is not null %}
                            {{personage.father.firstname}} {{personage.father.lastname}}
                        {% else %}  
                            Non renseigné
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        </section>
    </div>
</main>
{% endblock %}
